*{
    box-sizing: border-box;
}

body{ 
	margin: 0; 
	padding: 0; 
    overflow-y: hidden;
    position: fixed;
    width:100vw;
}

#map{ 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%;
    height:60vh;
    z-index: 999;
}

#popupSearch, #popupList{
    z-index:99999;
    background:rgba(255, 255, 255, .5);
    /*padding:12px;*/
    border-radius:8px;
    width:100%;
    height:40vh;
    margin-top: 60vh;
    overflow: scroll;
}
#popupList{ display: none; padding:0; padding-bottom: 8px;}
#popupList ul{ padding:0; }
#popupList p{ text-align: center; font-size: 18px; /*font-weight: bold;*/ border-bottom:2px solid lightgray; padding-bottom: 8px; }
#popupList ul li{
    list-style-type: none;
    padding:0;
    margin:0;
    font-size: 18px;
    line-height: 2;
    border-bottom: 1px solid lightgray;
    text-indent: 10px;
}

img#logo{
	position: absolute;
	top:10px;
	left:0;right:0;
	margin-left: auto;margin-right: auto;
	z-index:999999;
	width: 100px;
}

.mapboxgl-ctrl-directions, .mapboxgl-ctrl-top-right{
    display: none;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 8px;
    border-radius: 5px;   
    background: #343434; /* d3d3d3 */
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #DA552F;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #DA552F;
    cursor: pointer;
}
.slider::-moz-range-track {
	background:none;
}

@media (min-width: 1280px){
    #map{
        height:80vh;
    }
    #popupList, #popupSearch{
        height:20vh;
        margin-top: 80vh;
    }
}